@tailwind base;
@tailwind components;
@tailwind utilities;


.rotate-loader {
    animation: rotate-loader-circle 2s linear infinite;
}

@keyframes rotate-loader-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}